body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11527 {
  position:absolute;
  left:217px;
  top:75px;
  width:125px;
  height:16px;
}
#u11528 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u11529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11529 {
  position:absolute;
  left:229px;
  top:112px;
  width:71px;
  height:16px;
}
#u11530 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11531 {
  position:absolute;
  left:229px;
  top:241px;
  width:71px;
  height:16px;
}
#u11532 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11533 {
  position:absolute;
  left:229px;
  top:193px;
  width:71px;
  height:16px;
}
#u11534 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11535 {
  position:absolute;
  left:319px;
  top:112px;
  width:81px;
  height:16px;
}
#u11536 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u11537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11537 {
  position:absolute;
  left:229px;
  top:298px;
  width:71px;
  height:16px;
}
#u11538 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11539 {
  position:absolute;
  left:319px;
  top:193px;
  width:71px;
  height:16px;
}
#u11540 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11541 {
  position:absolute;
  left:319px;
  top:241px;
  width:113px;
  height:16px;
}
#u11542 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11543 {
  position:absolute;
  left:319px;
  top:298px;
  width:830px;
  height:48px;
}
#u11544 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u11545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:170px;
}
#u11545 {
  position:absolute;
  left:319px;
  top:356px;
  width:520px;
  height:170px;
}
#u11546 {
  position:absolute;
  left:2px;
  top:77px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11547 {
  position:absolute;
  left:319px;
  top:586px;
  width:830px;
  height:48px;
}
#u11548 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u11549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:170px;
}
#u11549 {
  position:absolute;
  left:319px;
  top:644px;
  width:520px;
  height:170px;
}
#u11550 {
  position:absolute;
  left:2px;
  top:77px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11551 {
  position:absolute;
  left:229px;
  top:151px;
  width:71px;
  height:16px;
}
#u11552 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11553 {
  position:absolute;
  left:319px;
  top:151px;
  width:128px;
  height:16px;
}
#u11554 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u11555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11555 {
  position:absolute;
  left:231px;
  top:899px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u11555_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 124, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11555.mouseDown {
}
#u11556 {
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u11558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:64px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11558 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:64px;
}
#u11559 {
  position:absolute;
  left:2px;
  top:24px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:879px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 226, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11560 {
  position:absolute;
  left:0px;
  top:64px;
  width:201px;
  height:879px;
}
#u11561 {
  position:absolute;
  left:2px;
  top:432px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u11562 {
  position:absolute;
  left:1178px;
  top:17px;
  width:10px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11563 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:879px;
  background:inherit;
  background-color:rgba(232, 234, 236, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 222, 226, 1);
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11564 {
  position:absolute;
  left:200px;
  top:64px;
  width:8px;
  height:879px;
  font-size:18px;
}
#u11565 {
  position:absolute;
  left:2px;
  top:432px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u11566 {
  position:absolute;
  left:194px;
  top:348px;
  width:15px;
  height:16px;
  color:#999999;
}
#u11567 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:64px;
  background:inherit;
  background-color:rgba(44, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(44, 140, 240, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11568 {
  position:absolute;
  left:208px;
  top:0px;
  width:992px;
  height:64px;
}
#u11569 {
  position:absolute;
  left:2px;
  top:24px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:64px;
}
#u11571 {
  position:absolute;
  left:232px;
  top:0px;
  width:69px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11571_img.mouseOver {
}
#u11571.mouseOver {
}
#u11571_img.selected {
}
#u11571.selected {
}
#u11571_img.disabled {
}
#u11571.disabled {
}
#u11572 {
  position:absolute;
  left:20px;
  top:24px;
  width:29px;
  white-space:nowrap;
}
#u11573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11573 {
  position:absolute;
  left:13px;
  top:22px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11574 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u11575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:64px;
}
#u11576 {
  position:absolute;
  left:614px;
  top:0px;
  width:81px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11576_img.mouseOver {
}
#u11576.mouseOver {
}
#u11576_img.selected {
}
#u11576.selected {
}
#u11576_img.disabled {
}
#u11576.disabled {
}
#u11577 {
  position:absolute;
  left:20px;
  top:24px;
  width:41px;
  white-space:nowrap;
}
#u11578 {
  position:absolute;
  left:1118px;
  top:17px;
  width:70px;
  height:30px;
}
#u11578_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:76px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u11579 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
}
#u11580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u11580 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u11581 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u11582 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  visibility:hidden;
}
#u11582_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:66px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u11583 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u11584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11584 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u11585 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11586 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u11587 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u11588 {
  position:absolute;
  left:1114px;
  top:20px;
  width:20px;
  height:24px;
}
#u11589 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u11590 {
  position:absolute;
  left:1175px;
  top:24px;
  width:10px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u11591 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:993px;
  height:2px;
}
#u11592 {
  position:absolute;
  left:208px;
  top:100px;
  width:992px;
  height:1px;
}
#u11593 {
  position:absolute;
  left:2px;
  top:-8px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11594 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11595 {
  position:absolute;
  left:315px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11595_img.mouseOver {
}
#u11595.mouseOver {
}
#u11595_img.selected {
}
#u11595.selected {
}
#u11595_img.disabled {
}
#u11595.disabled {
}
#u11596 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11597 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11598 {
  position:absolute;
  left:509px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11598_img.mouseOver {
}
#u11598.mouseOver {
}
#u11598_img.selected {
}
#u11598.selected {
}
#u11598_img.disabled {
}
#u11598.disabled {
}
#u11599 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11600 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11601 {
  position:absolute;
  left:412px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11601_img.mouseOver {
}
#u11601.mouseOver {
}
#u11601_img.selected {
}
#u11601.selected {
}
#u11601_img.disabled {
}
#u11601.disabled {
}
#u11602 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11604 {
  position:absolute;
  left:695px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11604_img.mouseOver {
}
#u11604.mouseOver {
}
#u11604_img.selected {
}
#u11604.selected {
}
#u11604_img.disabled {
}
#u11604.disabled {
}
#u11605 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11607 {
  position:absolute;
  left:784px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11607_img.mouseOver {
}
#u11607.mouseOver {
}
#u11607_img.selected {
}
#u11607.selected {
}
#u11607_img.disabled {
}
#u11607.disabled {
}
#u11608 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11609 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11610 {
  position:absolute;
  left:881px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11610_img.mouseOver {
}
#u11610.mouseOver {
}
#u11610_img.selected {
}
#u11610.selected {
}
#u11610_img.disabled {
}
#u11610.disabled {
}
#u11611 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
}
#u11613 {
  position:absolute;
  left:978px;
  top:0px;
  width:97px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11613_img.mouseOver {
}
#u11613.mouseOver {
}
#u11613_img.selected {
}
#u11613.selected {
}
#u11613_img.disabled {
}
#u11613.disabled {
}
#u11614 {
  position:absolute;
  left:20px;
  top:24px;
  width:57px;
  white-space:nowrap;
}
#u11615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:453px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11615 {
  position:absolute;
  left:0px;
  top:64px;
  width:200px;
  height:453px;
}
#u11616 {
  position:absolute;
  left:2px;
  top:218px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11617 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:61px;
}
#u11618 {
  position:absolute;
  left:0px;
  top:64px;
  width:200px;
  height:60px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
  text-align:left;
}
#u11618_img.mouseOver {
}
#u11618.mouseOver {
}
#u11618_img.selected {
  left:-1px;
  top:-1px;
  width:203px;
  height:63px;
}
#u11618.selected {
}
#u11619 {
  position:absolute;
  left:37px;
  top:22px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u11620 {
  position:absolute;
  left:17px;
  top:77px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u11620_img.selected {
}
#u11620.selected {
}
#u11621 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:49px;
}
#u11622 {
  position:absolute;
  left:0px;
  top:125px;
  width:200px;
  height:48px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515A6E;
  text-align:left;
}
#u11622_img.mouseOver {
}
#u11622.mouseOver {
}
#u11622_img.selected {
  left:-1px;
  top:-1px;
  width:203px;
  height:51px;
}
#u11622.selected {
}
#u11623 {
  position:absolute;
  left:37px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11624 {
  position:absolute;
  left:37px;
  top:143px;
  width:57px;
  height:16px;
  color:#000000;
}
#u11625 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
