body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1687px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
  -webkit-box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
  box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1687px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:88px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#323233;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:122px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#323233;
}
#u2427_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#323233;
}
#u2427.mouseDown {
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:122px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2428_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2428.mouseDown {
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:122px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2429_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 124, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2429.mouseDown {
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(238, 10, 36, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 10, 36, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:180px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2430_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(215, 9, 32, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 10, 36, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2430.mouseDown {
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 151, 106, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 151, 106, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:180px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2431_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 136, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 151, 106, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2431.mouseDown {
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:270px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:304px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#07C160;
}
#u2433_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
}
#u2433.mouseDown {
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1989FA;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:304px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#1989FA;
}
#u2434_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1989FA;
}
#u2434.mouseDown {
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:394px;
  width:43px;
  height:16px;
  color:#646C9A;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:428px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#07C160;
}
#u2436_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
}
#u2436.mouseDown {
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1989FA;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:428px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#1989FA;
}
#u2437_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1989FA;
}
#u2437.mouseDown {
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:518px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(128, 221, 172, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 221, 172, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:552px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(137, 193, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(137, 193, 249, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:552px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:642px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:676px;
  width:44px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:676px;
  width:44px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
  -webkit-box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
  box-shadow:0px 10px 60px rgba(42, 103, 254, 0.0980392156862745);
  font-size:24px;
  color:#000000;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  font-size:24px;
  color:#000000;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:688px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:676px;
  width:116px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2446_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 124, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2446.mouseDown {
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:688px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:688px;
  width:20px;
  height:20px;
  font-size:14px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:777px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:812px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2450_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2450.mouseDown {
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 137, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:812px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2451_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(23, 124, 226, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 137, 250, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2451.mouseDown {
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:900px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:935px;
  width:44px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2453_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2453.mouseDown {
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:948px;
  width:20px;
  height:19px;
  font-size:14px;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:935px;
  width:86px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2455_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2455.mouseDown {
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:14px;
  width:44px;
  word-wrap:break-word;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:948px;
  width:20px;
  height:19px;
  font-size:14px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
  text-align:left;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:935px;
  width:86px;
  height:44px;
  font-size:14px;
  color:#07C160;
  text-align:left;
}
#u2457_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#07C160;
  text-align:left;
}
#u2457.mouseDown {
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:14px;
  width:44px;
  word-wrap:break-word;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1031px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1069px;
  width:330px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2459_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:50px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2459.mouseDown {
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:326px;
  word-wrap:break-word;
}
#u2460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1139px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2460_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2460.mouseDown {
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1148px;
  width:73px;
  height:27px;
  color:#FFFFFF;
}
#u2461_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2461.mouseDown {
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u2462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:1152px;
  width:59px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2462_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2462.mouseDown {
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u2463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1231px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1266px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2464_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2464.mouseDown {
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1266px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2465_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2465.mouseDown {
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1360px;
  width:71px;
  height:16px;
  color:#646C9A;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(114, 50, 221, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(114, 50, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1395px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2467_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(103, 45, 199, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(114, 50, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2467.mouseDown {
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(114, 50, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7232DD;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1395px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#7232DD;
}
#u2468_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(114, 50, 221, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#7232DD;
}
#u2468.mouseDown {
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1395px;
  width:109px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2469_img.mouseDown {
}
#u2469.mouseDown {
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#646C9A;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1487px;
  width:57px;
  height:16px;
  color:#646C9A;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1522px;
  width:88px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2471_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2471.mouseDown {
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u2472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:44px;
  background:inherit;
  background-color:rgba(7, 193, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1590px;
  width:330px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u2472_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:44px;
  background:inherit;
  background-color:rgba(6, 174, 87, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(7, 193, 96, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2472.mouseDown {
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:326px;
  word-wrap:break-word;
}
#u2473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(27, 188, 155, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 188, 155, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:946px;
  width:22px;
  height:22px;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
