body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16009 {
  position:absolute;
  left:10px;
  top:10px;
  width:383px;
  height:786px;
}
#u16010 {
  position:absolute;
  left:2px;
  top:385px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16011 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:667px;
}
#u16012 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16013 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:63px;
}
#u16014 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16016 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:20px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u16019 {
  position:absolute;
  left:359px;
  top:82px;
  width:25px;
  height:10px;
}
#u16020 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u16021 {
  position:absolute;
  left:320px;
  top:80px;
  width:32px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u16022 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  white-space:nowrap;
}
#u16023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u16023 {
  position:absolute;
  left:175px;
  top:80px;
  width:58px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u16024 {
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u16025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u16025 {
  position:absolute;
  left:117px;
  top:83px;
  width:12px;
  height:9px;
}
#u16026 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u16027 {
  position:absolute;
  left:65px;
  top:80px;
  width:45px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u16028 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u16029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:6px;
}
#u16029 {
  position:absolute;
  left:21px;
  top:84px;
  width:37px;
  height:6px;
}
#u16030 {
  position:absolute;
  left:2px;
  top:-5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u16031 {
  position:absolute;
  left:183px;
  top:750px;
  width:37px;
  height:37px;
}
#u16032 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16033 {
  position:absolute;
  left:173px;
  top:114px;
  width:57px;
  height:15px;
}
#u16034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u16035 {
  position:absolute;
  left:24px;
  top:111px;
  width:14px;
  height:21px;
}
#u16036 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16037 {
  position:absolute;
  left:15px;
  top:140px;
  width:373px;
  height:603px;
}
#u16038 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16039 {
  position:absolute;
  left:70px;
  top:703px;
  width:319px;
  height:40px;
}
#u16040 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  word-wrap:break-word;
}
#u16041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16041 {
  position:absolute;
  left:415px;
  top:272px;
  width:300px;
  height:170px;
}
#u16042 {
  position:absolute;
  left:2px;
  top:53px;
  width:296px;
  word-wrap:break-word;
}
#u16043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16043 {
  position:absolute;
  left:24px;
  top:150px;
  width:171px;
  height:240px;
}
#u16044 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16045 {
  position:absolute;
  left:30px;
  top:154px;
  width:159px;
  height:170px;
}
#u16046 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16047 {
  position:absolute;
  left:46px;
  top:324px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16048 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16049 {
  position:absolute;
  left:58px;
  top:340px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16050 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16051 {
  position:absolute;
  left:24px;
  top:406px;
  width:171px;
  height:240px;
}
#u16052 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16053 {
  position:absolute;
  left:30px;
  top:410px;
  width:159px;
  height:170px;
}
#u16054 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16055 {
  position:absolute;
  left:46px;
  top:580px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16056 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16057 {
  position:absolute;
  left:58px;
  top:596px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16058 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16059 {
  position:absolute;
  left:123px;
  top:366px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16060 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16061 {
  position:absolute;
  left:205px;
  top:150px;
  width:171px;
  height:240px;
}
#u16062 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16063 {
  position:absolute;
  left:211px;
  top:154px;
  width:159px;
  height:170px;
}
#u16064 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16065 {
  position:absolute;
  left:227px;
  top:324px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16066 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16067 {
  position:absolute;
  left:239px;
  top:340px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16068 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16069 {
  position:absolute;
  left:304px;
  top:366px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16070 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16071 {
  position:absolute;
  left:205px;
  top:406px;
  width:171px;
  height:240px;
}
#u16072 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16073 {
  position:absolute;
  left:211px;
  top:410px;
  width:159px;
  height:170px;
}
#u16074 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16075 {
  position:absolute;
  left:227px;
  top:580px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16076 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16077 {
  position:absolute;
  left:239px;
  top:596px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16078 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16079 {
  position:absolute;
  left:304px;
  top:622px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16080 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16081 {
  position:absolute;
  left:57px;
  top:366px;
  width:31px;
  height:20px;
}
#u16082 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16083 {
  position:absolute;
  left:30px;
  top:366px;
  width:20px;
  height:20px;
}
#u16084 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16085 {
  position:absolute;
  left:238px;
  top:366px;
  width:31px;
  height:20px;
}
#u16086 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16087 {
  position:absolute;
  left:211px;
  top:366px;
  width:20px;
  height:20px;
}
#u16088 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16089 {
  position:absolute;
  left:238px;
  top:622px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u16090 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16091 {
  position:absolute;
  left:214px;
  top:622px;
  width:20px;
  height:20px;
}
#u16092 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16093 {
  position:absolute;
  left:122px;
  top:622px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16094 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16095 {
  position:absolute;
  left:56px;
  top:622px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u16096 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16097 {
  position:absolute;
  left:32px;
  top:622px;
  width:20px;
  height:20px;
}
#u16098 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16099 {
  position:absolute;
  left:415px;
  top:452px;
  width:300px;
  height:170px;
}
#u16100 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u16101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16101 {
  position:absolute;
  left:15px;
  top:703px;
  width:55px;
  height:40px;
}
#u16102 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
