body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19658 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
}
#u19659 {
  position:absolute;
  left:2px;
  top:385px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19660 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:667px;
}
#u19661 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19662 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:63px;
}
#u19663 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19665 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:20px;
}
#u19666 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u19668 {
  position:absolute;
  left:349px;
  top:72px;
  width:25px;
  height:10px;
}
#u19669 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u19670 {
  position:absolute;
  left:310px;
  top:70px;
  width:32px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u19671 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  white-space:nowrap;
}
#u19672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u19672 {
  position:absolute;
  left:165px;
  top:70px;
  width:58px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u19673 {
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u19674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u19674 {
  position:absolute;
  left:107px;
  top:73px;
  width:12px;
  height:9px;
}
#u19675 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u19676 {
  position:absolute;
  left:55px;
  top:70px;
  width:45px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u19677 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u19678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:6px;
}
#u19678 {
  position:absolute;
  left:11px;
  top:74px;
  width:37px;
  height:6px;
}
#u19679 {
  position:absolute;
  left:2px;
  top:-5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u19680 {
  position:absolute;
  left:173px;
  top:740px;
  width:37px;
  height:37px;
}
#u19681 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19682 {
  position:absolute;
  left:5px;
  top:87px;
  width:373px;
  height:646px;
}
#u19683 {
  position:absolute;
  left:2px;
  top:315px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19684 {
  position:absolute;
  left:122px;
  top:558px;
  width:140px;
  height:40px;
}
#u19685 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u19686 {
  position:absolute;
  left:33px;
  top:422px;
  width:226px;
  height:16px;
}
#u19687 {
  position:absolute;
  left:16px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u19686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19689 {
  position:absolute;
  left:33px;
  top:308px;
  width:317px;
  height:30px;
}
#u19690 {
  position:absolute;
  left:2px;
  top:7px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19691 {
  position:absolute;
  left:35px;
  top:311px;
  width:312px;
  height:25px;
}
#u19691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19693 {
  position:absolute;
  left:33px;
  top:370px;
  width:223px;
  height:30px;
}
#u19694 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19695 {
  position:absolute;
  left:34px;
  top:373px;
  width:219px;
  height:25px;
}
#u19695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19696 {
  position:absolute;
  left:266px;
  top:370px;
  width:84px;
  height:30px;
}
#u19697 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u19698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19698 {
  position:absolute;
  left:33px;
  top:191px;
  width:98px;
  height:16px;
}
#u19699 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
