.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._流程形状 {
}
._连接线 {
}
.box_1 {
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._多行文本框 {
  color:#000000;
  text-align:left;
}
._图片1 {
  color:#000000;
}
.icon {
}
.label {
  font-size:14px;
  text-align:left;
}
.menu_item {
}
.line {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.refs-design-apple {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._图片2 {
  color:#000000;
}
.image {
}
.refs-webm-wechat {
  font-family:'PingFang SC Medium', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.ellipse {
}
.table_cell {
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_11 {
}
.image1 {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.box_2 {
}
.box_3 {
}
.box_12 {
}
.radio_button {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.tree_node {
  text-align:left;
}
._图片_ {
}
.flow_shape {
}
.horizontal_line {
}
._形状1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#4EDB7C;
}
.line1 {
}
._形状2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#4EDB7C;
}
.line2 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
