body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4874 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4875 {
  position:absolute;
  left:150px;
  top:0px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4876 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4877 {
  position:absolute;
  left:300px;
  top:0px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4878 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4879 {
  position:absolute;
  left:450px;
  top:0px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4880 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:108px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4882 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4883 {
  position:absolute;
  left:150px;
  top:108px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4884 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4885 {
  position:absolute;
  left:300px;
  top:108px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4886 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:50px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4888 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4889 {
  position:absolute;
  left:150px;
  top:50px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4890 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4891 {
  position:absolute;
  left:300px;
  top:50px;
  width:140px;
  height:40px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4892 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4893 {
  position:absolute;
  left:450px;
  top:50px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4894 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4895 {
  position:absolute;
  left:0px;
  top:158px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#808695;
  text-align:left;
  line-height:14px;
}
#u4896 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4897 {
  position:absolute;
  left:150px;
  top:158px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#808695;
  text-align:left;
  line-height:14px;
}
#u4898 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4899 {
  position:absolute;
  left:300px;
  top:158px;
  width:140px;
  height:40px;
  font-size:12px;
  color:#808695;
  text-align:left;
  line-height:14px;
}
#u4900 {
  position:absolute;
  left:14px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
