body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15281 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
}
#u15282 {
  position:absolute;
  left:2px;
  top:385px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15283 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:667px;
}
#u15284 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15285 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:63px;
}
#u15286 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15288 {
  position:absolute;
  left:4px;
  top:67px;
  width:375px;
  height:20px;
}
#u15289 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u15291 {
  position:absolute;
  left:349px;
  top:72px;
  width:25px;
  height:10px;
}
#u15292 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u15293 {
  position:absolute;
  left:310px;
  top:70px;
  width:32px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u15294 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  white-space:nowrap;
}
#u15295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u15295 {
  position:absolute;
  left:165px;
  top:70px;
  width:58px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u15296 {
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u15297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u15297 {
  position:absolute;
  left:107px;
  top:73px;
  width:12px;
  height:9px;
}
#u15298 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u15299 {
  position:absolute;
  left:55px;
  top:70px;
  width:45px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u15300 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u15301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:6px;
}
#u15301 {
  position:absolute;
  left:11px;
  top:74px;
  width:37px;
  height:6px;
}
#u15302 {
  position:absolute;
  left:2px;
  top:-5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u15303 {
  position:absolute;
  left:173px;
  top:740px;
  width:37px;
  height:37px;
}
#u15304 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15305 {
  position:absolute;
  left:4px;
  top:129px;
  width:375px;
  height:248px;
}
#u15306 {
  position:absolute;
  left:2px;
  top:116px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15307 {
  position:absolute;
  left:14px;
  top:142px;
  width:41px;
  height:16px;
}
#u15308 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15309 {
  position:absolute;
  left:14px;
  top:176px;
  width:41px;
  height:16px;
}
#u15310 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15311 {
  position:absolute;
  left:14px;
  top:345px;
  width:57px;
  height:16px;
}
#u15312 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15313 {
  position:absolute;
  left:100px;
  top:176px;
  width:269px;
  height:160px;
}
#u15314 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u15315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15315 {
  position:absolute;
  left:100px;
  top:142px;
  width:43px;
  height:16px;
}
#u15316 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u15317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15317 {
  position:absolute;
  left:100px;
  top:345px;
  width:83px;
  height:16px;
}
#u15318 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u15319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15319 {
  position:absolute;
  left:45px;
  top:101px;
  width:41px;
  height:16px;
}
#u15320 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15321 {
  position:absolute;
  left:304px;
  top:136px;
  width:65px;
  height:30px;
}
#u15322 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u15323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15323 {
  position:absolute;
  left:4px;
  top:376px;
  width:375px;
  height:40px;
}
#u15324 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15325 {
  position:absolute;
  left:14px;
  top:388px;
  width:57px;
  height:16px;
}
#u15326 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15327 {
  position:absolute;
  left:4px;
  top:414px;
  width:375px;
  height:320px;
  overflow:hidden;
}
#u15327_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u15327_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15328 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:520px;
}
#u15329 {
  position:absolute;
  left:2px;
  top:252px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15330 {
  position:absolute;
  left:12px;
  top:12px;
  width:171px;
  height:245px;
}
#u15331 {
  position:absolute;
  left:2px;
  top:114px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u15332 {
  position:absolute;
  left:18px;
  top:16px;
  width:159px;
  height:170px;
}
#u15333 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u15334 {
  position:absolute;
  left:26px;
  top:194px;
  width:141px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u15335 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u15336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15336 {
  position:absolute;
  left:63px;
  top:219px;
  width:70px;
  height:19px;
  text-align:center;
}
#u15337 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u15338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15338 {
  position:absolute;
  left:193px;
  top:12px;
  width:171px;
  height:245px;
}
#u15339 {
  position:absolute;
  left:2px;
  top:114px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u15340 {
  position:absolute;
  left:199px;
  top:16px;
  width:159px;
  height:170px;
}
#u15341 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u15342 {
  position:absolute;
  left:207px;
  top:194px;
  width:141px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u15343 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u15344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15344 {
  position:absolute;
  left:12px;
  top:260px;
  width:171px;
  height:245px;
}
#u15345 {
  position:absolute;
  left:2px;
  top:114px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u15346 {
  position:absolute;
  left:18px;
  top:264px;
  width:159px;
  height:170px;
}
#u15347 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u15348 {
  position:absolute;
  left:26px;
  top:442px;
  width:141px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u15349 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u15350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15350 {
  position:absolute;
  left:193px;
  top:260px;
  width:171px;
  height:245px;
}
#u15351 {
  position:absolute;
  left:2px;
  top:114px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u15352 {
  position:absolute;
  left:199px;
  top:264px;
  width:159px;
  height:170px;
}
#u15353 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u15354 {
  position:absolute;
  left:207px;
  top:442px;
  width:141px;
  height:16px;
  font-size:14px;
  text-align:center;
}
#u15355 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u15356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15356 {
  position:absolute;
  left:244px;
  top:220px;
  width:70px;
  height:19px;
  text-align:center;
}
#u15357 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u15358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15358 {
  position:absolute;
  left:62px;
  top:468px;
  width:70px;
  height:19px;
  text-align:center;
}
#u15359 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u15360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u15360 {
  position:absolute;
  left:243px;
  top:469px;
  width:70px;
  height:19px;
  text-align:center;
}
#u15361 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u15362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:245px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.549019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15363 {
  position:absolute;
  left:193px;
  top:12px;
  width:171px;
  height:245px;
}
#u15364 {
  position:absolute;
  left:2px;
  top:114px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u15365 {
  position:absolute;
  left:236px;
  top:118px;
  width:85px;
  height:33px;
  -webkit-transform:rotate(338deg);
  -moz-transform:rotate(338deg);
  -ms-transform:rotate(338deg);
  transform:rotate(338deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u15366 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u15367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u15367 {
  position:absolute;
  left:14px;
  top:98px;
  width:14px;
  height:21px;
}
#u15368 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15369 {
  position:absolute;
  left:163px;
  top:142px;
  width:73px;
  height:16px;
}
#u15370 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
