body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:41px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16104 {
  position:absolute;
  left:10px;
  top:10px;
  width:383px;
  height:786px;
}
#u16105 {
  position:absolute;
  left:2px;
  top:385px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16106 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:667px;
}
#u16107 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16108 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:63px;
}
#u16109 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16111 {
  position:absolute;
  left:14px;
  top:77px;
  width:375px;
  height:20px;
}
#u16112 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u16114 {
  position:absolute;
  left:359px;
  top:82px;
  width:25px;
  height:10px;
}
#u16115 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u16116 {
  position:absolute;
  left:320px;
  top:80px;
  width:32px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u16117 {
  position:absolute;
  left:0px;
  top:2px;
  width:26px;
  white-space:nowrap;
}
#u16118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u16118 {
  position:absolute;
  left:175px;
  top:80px;
  width:58px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u16119 {
  position:absolute;
  left:0px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u16120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u16120 {
  position:absolute;
  left:117px;
  top:83px;
  width:12px;
  height:9px;
}
#u16121 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u16122 {
  position:absolute;
  left:65px;
  top:80px;
  width:45px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:201;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:left;
}
#u16123 {
  position:absolute;
  left:0px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u16124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:6px;
}
#u16124 {
  position:absolute;
  left:21px;
  top:84px;
  width:37px;
  height:6px;
}
#u16125 {
  position:absolute;
  left:2px;
  top:-5px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u16126 {
  position:absolute;
  left:183px;
  top:750px;
  width:37px;
  height:37px;
}
#u16127 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16128 {
  position:absolute;
  left:173px;
  top:114px;
  width:57px;
  height:15px;
}
#u16129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:21px;
}
#u16130 {
  position:absolute;
  left:24px;
  top:111px;
  width:14px;
  height:21px;
}
#u16131 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16132 {
  position:absolute;
  left:15px;
  top:140px;
  width:373px;
  height:603px;
}
#u16133 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16134 {
  position:absolute;
  left:418px;
  top:310px;
  width:300px;
  height:170px;
  color:#FF0000;
}
#u16135 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u16136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u16136 {
  position:absolute;
  left:418px;
  top:503px;
  width:300px;
  height:170px;
  color:#1E1E1E;
}
#u16137 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u16138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16138 {
  position:absolute;
  left:70px;
  top:703px;
  width:319px;
  height:40px;
}
#u16139 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  word-wrap:break-word;
}
#u16140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16140 {
  position:absolute;
  left:24px;
  top:150px;
  width:171px;
  height:240px;
}
#u16141 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16142 {
  position:absolute;
  left:30px;
  top:154px;
  width:159px;
  height:170px;
}
#u16143 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16144 {
  position:absolute;
  left:46px;
  top:324px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16145 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16146 {
  position:absolute;
  left:58px;
  top:340px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16147 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16148 {
  position:absolute;
  left:24px;
  top:406px;
  width:171px;
  height:240px;
}
#u16149 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16150 {
  position:absolute;
  left:30px;
  top:410px;
  width:159px;
  height:170px;
}
#u16151 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16152 {
  position:absolute;
  left:46px;
  top:580px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16153 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16154 {
  position:absolute;
  left:58px;
  top:596px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16155 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16156 {
  position:absolute;
  left:123px;
  top:366px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16157 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16158 {
  position:absolute;
  left:205px;
  top:150px;
  width:171px;
  height:240px;
}
#u16159 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16160 {
  position:absolute;
  left:211px;
  top:154px;
  width:159px;
  height:170px;
}
#u16161 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16162 {
  position:absolute;
  left:227px;
  top:324px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16163 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16164 {
  position:absolute;
  left:239px;
  top:340px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16165 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16166 {
  position:absolute;
  left:304px;
  top:366px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16167 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16168 {
  position:absolute;
  left:205px;
  top:406px;
  width:171px;
  height:240px;
}
#u16169 {
  position:absolute;
  left:2px;
  top:112px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
}
#u16170 {
  position:absolute;
  left:211px;
  top:410px;
  width:159px;
  height:170px;
}
#u16171 {
  position:absolute;
  left:2px;
  top:77px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16172 {
  position:absolute;
  left:227px;
  top:580px;
  width:128px;
  height:16px;
  text-align:center;
}
#u16173 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u16174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u16174 {
  position:absolute;
  left:239px;
  top:596px;
  width:106px;
  height:16px;
  text-align:center;
}
#u16175 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16176 {
  position:absolute;
  left:304px;
  top:622px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16177 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16178 {
  position:absolute;
  left:57px;
  top:366px;
  width:31px;
  height:20px;
}
#u16179 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16180 {
  position:absolute;
  left:30px;
  top:366px;
  width:20px;
  height:20px;
}
#u16181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16182 {
  position:absolute;
  left:238px;
  top:366px;
  width:31px;
  height:20px;
}
#u16183 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16184 {
  position:absolute;
  left:211px;
  top:366px;
  width:20px;
  height:20px;
}
#u16185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16186 {
  position:absolute;
  left:238px;
  top:622px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u16187 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16188 {
  position:absolute;
  left:214px;
  top:622px;
  width:20px;
  height:20px;
}
#u16189 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u16190 {
  position:absolute;
  left:122px;
  top:622px;
  width:66px;
  height:20px;
  font-size:11px;
}
#u16191 {
  position:absolute;
  left:2px;
  top:3px;
  width:62px;
  word-wrap:break-word;
}
#u16192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u16192 {
  position:absolute;
  left:56px;
  top:622px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u16193 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16194 {
  position:absolute;
  left:32px;
  top:622px;
  width:20px;
  height:20px;
}
#u16195 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16196 {
  position:absolute;
  left:15px;
  top:703px;
  width:55px;
  height:40px;
}
#u16197 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u16198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:603px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16199 {
  position:absolute;
  left:15px;
  top:140px;
  width:373px;
  height:603px;
  opacity:0.5;
}
#u16200 {
  position:absolute;
  left:2px;
  top:294px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16201 {
  position:absolute;
  left:64px;
  top:340px;
}
#u16201_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16201_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u16202 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  font-size:14px;
  color:#FFFFFF;
}
#u16203 {
  position:absolute;
  left:0px;
  top:72px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#A9A9A9;
}
#u16204 {
  position:absolute;
  left:20px;
  top:61px;
  width:240px;
  height:34px;
  font-size:14px;
  color:#A9A9A9;
}
#u16205 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u16206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u16206 {
  position:absolute;
  left:20px;
  top:25px;
  width:240px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u16207 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u16208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#09BB07;
}
#u16208 {
  position:absolute;
  left:140px;
  top:110px;
  width:140px;
  height:50px;
  font-size:18px;
  color:#09BB07;
}
#u16209 {
  position:absolute;
  left:0px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u16210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u16210 {
  position:absolute;
  left:0px;
  top:110px;
  width:140px;
  height:50px;
  font-size:18px;
  color:#CCCCCC;
}
#u16211 {
  position:absolute;
  left:0px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
